
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;background: #000000;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
    }
a {
    margin-right: 10%;
    text-decoration: none;
    color: inherit;
    }

select {opacity: 100%;
}

/* MON CSS */

.header {
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-top: 3%;
    width: 100%;
    }

.logo {
    font-family: Inder, sans-serif;
    font-size: 64px;
    color:#00CFFF;
    margin-left: 2%;
    cursor: pointer;
    }
    
.bouton-page {
    color:#00CFFF;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    height: auto;
    margin-left: 5%;}

.bouton-secondaire {
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    }

.bouton-primaire {
    font-family: Inter;
    font-size: 20px;
    height: 40px;
    text-align: center;
    background-color:#DAFADB;
    border-radius: 40px;
    border: none;
    width: 25%;
    color:#00CFFF;
    cursor: pointer;
    }

.bouton-primaire:hover, .bouton-lien:hover {
    background-color: #ff306b;
    }

.burger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 24px;
    padding-right: 5%;
}

.burger span {
    width: 100%;
    height: 4px;
    background-color: #00CFFF;
    border-radius: 10px;
    transition: all 0.3s ease;
}

/* Hide the checkbox */
#menu-toggle {
    display: none;
}

h1 {
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-weight: 800;
    line-height: 120%;
    text-align: center;
    margin: 10%;
    color: #00CFFF;
    }

.barre-recherche {
    width: 95%; 
    }

.barre {
    width: 93%;
    height: 100%;
    margin-left: 5%;
    gap: 0px;
    border-radius: 40px;
    border: 1px solid #00CFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }

.select {
    font-family: Inder;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    border: none;
    border-right: 1px solid #00CFFF;
    color : #00CFFF;
    background:none;
    width: 100%;
    height: 64px;
    cursor: pointer;
    }

#searchInput {
    font-family: Inder;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color : #00CFFF;
    width: 100%;
    background: none;
    border: none;
    }

input::placeholder {
    color : #00CFFF; 
    }

button.loupe {
    background:none;
    border: none;
    color : #828282;
    cursor: pointer;
    margin-right: 40px;
    }
    
.loupe i:hover {
    color: #ff306b;
    }

button.loupe i {
    font-size: 30px
    }

#menu-toggle-2 {
    display: none;
}

.burger2 {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 24px;
    height: 100%;
    padding: 0 2% 0 2%;
    border-left: 1px solid #00CFFF;
}

.burger2 span {
    background-color: #00CFFF;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.line4 {
    width: 18px;
    height: 2px;
    }

.line5 {
    width: 12px;
    height: 2px;
    }

.line6 {
    width: 4px;
    height: 2px;
    }

.déroulant {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3%;
    } 
    
.Mon-appareil {
    width: 44%;
    height: 348px;
    border-radius: 0px 0px 0px 40px;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.nom {
    font-family: Inder;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    width: 50%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left:3%;
    color :#00CFFF;
    }

.validation {
    width: 44%;
    height: 348px;
    gap: 3%;
    border-radius: 0px 0px 40px 0px;
    background-color: #DAFADB ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }   

.texte-vert {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom:5%;
    width: 100%;
    }

.hidden {
    opacity: 0;
    transition: opacity 1s ease;
    }

.visible {
    opacity: 1;
    transition: opacity 1s ease;
    }

.texte-1 {
    margin-left: 7%;
    display:flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    line-height: 1.5;
    }

.h4 {
    font-family: Inika;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    }

#new {
    color:#009305;
    font-weight: bold;
    width: 100%;
    }

#msg {
    color:#13C118;
    }    

.boutons {
    display: flex;
    justify-content: center;
    align-items:center;
    gap : 10%;
    width : 90%;
    }

.bouton-lien {
    font-family: Inika;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    background-color: #020202;
    color :#00CFFF;
    border-radius: 40px;
    border: none;
    width : 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    gap : 5%;
    }

#texte-icone {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    }

.accroche-tuto, .slogan {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 5% 0 5% 0;
    }

h2 {
    font-family: Inter;
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    text-align: center;
    color:#00CFFF;
    }

h3 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    text-align: center;
    color:#00CFFF;
    }

.bandeau_tuto {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    }

.tuto_1, .tuto_2, .tuto_3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5%;
    margin: 2%;
    }

.tuto {
    width: 65%;
    height: 499px;
    top: 292px;
    left: 21px;
    gap: 0px;
    opacity: 0%;
    }

.txt_tuto {
    font-family: Inika;
    font-size: 24px;
    font-weight: 700;
    line-height: 31.27px;
    text-align: center;
    width: 30%;
    }

/* Media query for tablets and phones */
@media (max-width: 800px) {
    .logo {font-size: 24px;
    }
    
    .bouton-page {
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        background-color: #00CFFF;
        color :#000000;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
    }

    .bouton-secondaire {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .bouton-secondaire a {
        margin: 15px 0;
        color :#000000
    }

    .bouton-primaire {
        width: 80%;
        margin: 15px 0;
        color :#000000
    }

    .burger {
        display: flex;
    }


    /* Show the menu when checkbox is checked */
    #menu-toggle:checked ~ .bouton-page {
        display: flex;
    }

    /* Animate the burger icon */
    #menu-toggle:checked + .burger .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    #menu-toggle:checked + .burger .line2 {
        opacity: 0;
    }

    #menu-toggle:checked + .burger .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .barre {
        width: 93%;
        height: 32px;
    }

    #searchInput { 
        font-size: 14px;
    }

    .select {
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        background-color: #00CFFF;
        color :#000000;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        }
    

    button.loupe i {
        font-size: 24px;
        padding : 2px;
        }

    button.loupe {
        margin: 0;
    }

    h1 {
        font-size: 16px;
    }

    .burger2 {
        display:flex;
        justify-items: flex-end;
    }

    /* Show the menu when checkbox is checked */
    #menu-toggle-2:checked ~ .select {
        display: flex;
    }

    /* Animate the burger2 icon */
    #menu-toggle-2:checked + .burger2 .line4 {
        transform: rotate(-90deg) translate(-5px, 6px);
    }

    #menu-toggle-2:checked + .burger2 .line5 {
        opacity: 0;
    }

    #menu-toggle-2:checked + .burger2 .line6 {
        opacity: 0;;
    }

    #menu-toggle-2:checked ~ .select {
        display: block; /* Affiche les sélections d'appareil, marque et modèle */
        margin-top: 10px; /* Espacement entre les sélections et le champ de recherche */
    }

    .select {
        flex-direction: column; /* Affiche les éléments en colonne sur les petits écrans */
        height: auto; /* Hauteur automatique pour s'adapter au contenu */
        padding-bottom: 10px; /* Espacement en bas de la barre */
    }
}
